# =====================================
# Copie este archivo como ".env"
# y modifique los valores según su entorno.
# =====================================

POSTGRES_DB=paladart
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CAMBIAR_PASSWORD

DB_URL=jdbc:postgresql://db:5432/paladart
DB_USER=postgres
DB_PASSWORD=CAMBIAR_PASSWORD