# ==========================
# Archivos compilados Java
# ==========================
*.class

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Archivos Maven
# ==========================
target/

# Reportes de Surefire
*.dumpstream
surefire-reports/

# ==========================
# IntelliJ IDEA
# ==========================
.idea/
*.iml

# ==========================
# Archivos temporales
# ==========================
*.tmp
*.swp

# ==========================
# Archivos generados
# ==========================
*.xlsx

# ==========================
# Variables de entorno
# ==========================
.env